* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --purple: #5280e2;
    --green: #15cdcb;
    --black: #212226;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 75px);
    color: white;
    padding: 0px 150px;
    width: 53%;
}

header img {
    display: none;
    margin: 20px 0 50px 0;
    width: 120px;
}

header h1 {
    font-size: 39px;
    color: var(--green);
    font-weight: 400;
}

header h2 {
    font-size: 27px;
    font-weight: 400;
}

header h1, h2 {
    margin-bottom: 15px;
}

header p {
    line-height: 29px;
    margin-bottom: 50px;
}

.button1 {
    background-color: var(--green);
    border: none;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    padding: 9px 35px;
    color: var(--black);
    font-weight: bold;
    width: 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--black);
    padding: 0 150px;
    height: 75px;

    position: sticky;
    top: 0;


}

nav img{
    height: 45px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul a {
    text-decoration: none;
    color: var(--green);
    font-size: 22px;
    position: relative;
    padding-bottom: 6px;
}

nav ul a svg {
    display: none;
}

nav ul a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--green);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

nav ul a:hover:after {
    width: 90%;
}


.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 75px);

    padding: 0 150px;
    background-color: var(--black);
}

.description {
    width: 40%;
}

.description h1 {
    margin-bottom: 20px;
    font-size: 39px;
    color: var(--green);
    font-weight: 400;
    color: var(--green);
}

.description p {
    line-height: 29px;
    margin-bottom: 25px;
    color: white;
}

.about-me img {
    border-radius: 100%;
    border: 5px solid var(--green);

    width: 320px;
    height: 320px;
}

.portfolio {
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 75px;
}

.port {
    font-size: 39px;
    color: var(--green);
    font-weight: 400;
    text-align: center;
}

.boxs {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 150px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 420px;

    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 20px;
}

.box img {
    width: 220px;
    margin-bottom: 35px;
}

.skills ul{
    display: flex;
    list-style: none;
    margin-bottom: 20px;
}

.skills ul li {
    font-size: 12px;
    color: var(--green);
    margin-right: 10px;
    border: 1px solid var(--green);
    border-radius: 10px;
    padding: 1px 20px;
}

.skills h4 {
    font-weight: 200;
}

.box h1, h4{
    font-size: 16px;
}

.box h4 {
    font-weight: 400;
}

.portfolio-text {
    line-height: 24px;
    width: 84%;
}


.curriculo {
    margin-bottom: 150px;
}

.curriculo h1 {
    font-size: 39px;
    color: var(--green);
    font-weight: 400;
    text-align: center;
    margin-bottom: 120px;
}

.curriculo-content {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-grid {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 1.5rem;
}

.button2 {
    display: flex;
    background-color: #2F3034;
    border: 1px solid var(--green);
    border-radius: 14px;
    color: var(--green);
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 65px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-top: 30px;

}

.button2 img {
    margin-right: 15px;
}

footer {
    color: white;
    width: 45%;
    margin: auto;
    text-align: center;
}

footer h1 {
    font-size: 45px;
    color: var(--green);
    font-weight: 400;
    margin-bottom: 25px;
}

footer p {
    margin-bottom: 35px;
}

.icons {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.button3 {
    background-color: var(--green);
    border: none;
    font-size: 13px;
    text-decoration: none;
    border-radius: 12px;
    padding: 9px 35px;
    color: var(--black);
    font-weight: bold;
}

.icons {
    margin-top: 70px;
    margin-bottom: 70px;
}

.icons img {
    width: 32px;
    height: 32px;
}

.made {
    font-size: 13px;
    font-weight: 400;
    color: rgb(213, 213, 213);
}

.section4 {
    height: 70px;
}

/*
RESPONSIVIDADE -
*/

@media(max-width: 1000px){
    
    header {
        padding: 0px 30px;
        width: 100%;
    }
    
    nav {
        padding: 0 30px;
    }
}

/*
TABLET -
*/
@media (max-width: 767px) {
    
    
    header img {
        display: inline ;
    }

    nav {
        padding: 0px;
    }

    nav img{
        display: none;
    }

    nav ul {
        padding: 0;
    }

    
}

/*
CELULAR -
*/

@media (max-width: 480px) {
    
    header {
        height: calc(100vh - 150px);
    }

    nav {
        position: fixed;
        bottom: 0;
        top: unset;
        width: 100%;
        padding: 0px;
    }

    nav ul {
        padding: 0px 10px;
    }
    
    nav ul a {
        font-size: 14px;
    }

    nav ul a svg {
        margin: 0 auto 7px;
        display: block;
    }

    .about-me {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px 30px 50px 30px;
    }

    .about-me img {
        border: 2px solid var(--green);
        width: 101px;
        height: 101px;
    }

    .description {
        width: 100%;
    }

    .boxs {
        display: flex;
        align-items: center;

        flex-direction: column;
        padding: 0 30px;
        margin-top: 40px;
    }

    .box {
        margin-bottom: 50px;
    }

    span {
        text-decoration: none;
        color: white;
    }
    

    .curriculo-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .curriculo h1 {
        margin-bottom: 63px;
    }

    .photo {
        width: 300px;
        margin-bottom: 50px;
    }

    .button2 {
        width: 355px;
    }

    footer {
        padding: 0 30px;
        width: 100%;
    }

    footer h1 {
        font-size: 30px;
    }

    .icons {
        width: 80%;
    }

    .curriculo {
        margin-bottom: 120px;
    }
}