* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --purple: #5280e2;
    --green: #15cdcb;
    --black: #212226;
}

body {
    background-color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 65px);
    color: white;
    padding: 0px 150px;
    width: 53%;
}

header img {
    display: none;
    margin: 20px 0 50px 0;
    width: 120px;
}

header h1 {
    font-size: 39px;
    color: var(--green);
    font-weight: 400;
}

header h2 {
    font-size: 27px;
    font-weight: 400;
}

header h1, h2 {
    margin-bottom: 15px;
}

header p {
    margin-bottom: 50px;
}

button {
    background-color: var(--green);
    border: none;
    font-size: 13px;
    border-radius: 12px;
    padding: 9px 35px;
    color: var(--black);
    font-weight: bold;
    width: 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--black);
    padding: 0 150px;
    height: 75px;

    position: sticky;
    top: 0;
}

nav img{
    height: 45px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul a {
    text-decoration: none;
    color: var(--green);
    font-size: 22px;
    position: relative;
    padding-bottom: 6px;
}

nav ul a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--green);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

nav ul a:hover:after {
    width: 90%;
}


.section3 {
    height: 1500px;
    background-color: rgb(116, 0, 0);
}

/*
RESPONSIVIDADE -
*/

@media(max-width: 1000px){
    
    header {
        padding: 0px 30px;
        width: 100%;
    }
    
    nav {
        padding: 0 30px;
    }
}

/*
TABLET -
*/
@media (max-width: 767px) {
    
    
    header img {
        display: inline ;
    }

    nav {
        padding: 0px;
    }

    nav img{
        display: none;
    }

    nav ul {
        padding: 0;
    }
}

/*
CELULAR -
*/

@media (max-width: 480px) {
    
    header {
        height: calc(100vh - 150px)
    }

    nav ul {
        padding: 0px 30px;
    }
    
    nav ul a {
        font-size: 18px;
    }
}